[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brent-search = "*"
cachetools = "*"
liknorm = "*"
ndarray-listener = "*"
numpy-sugar = "*"
numpy = "*"
optimix = "*"
pandas = "*"
pytest-runner = "*"
pytest = "*"
scipy-sugar = "*"
scipy = "*"
tqdm = "*"
sphinx_rtd_theme = "*"
Sphinx = "*"

[dev-packages]

[requires]
python_version = "3.6"
