brent-search>=1.0.32
cachetools>=2.0.1
liknorm>=1.0.13
ndarray-listener>=1.1.1
numpy-sugar>=1.2.4
numpy>=1.14.3
optimix>=1.2.23
pandas>=0.22.0
pytest-pep8>=1.0.6
pytest-runner>=4.2
pytest>=3.5.1
scipy-sugar>=1.0.6
scipy>=1.1.0
setuptools>=39.1.0
sphinx_rtd_theme>=0.3.1
sphinx>=1.7.4
toolz>=0.9.0
tqdm>=4.23.3
