brent-search>=1.0.33
cachetools>=2.1.0
cffi>=1.11.5
liknorm>=1.1.9
ndarray-listener>=1.1.2
numpy-sugar>=1.2.5
numpy>=1.14.5
optimix>=2.0.0
pandas>=0.23.3
pytest-runner>=4.2
pytest>=3.6.3
scipy-sugar>=1.0.7
scipy>=1.1.0
setuptools>=40.0.0
sphinx_rtd_theme>=0.4.0
sphinx>=1.7.5
tqdm>=4.23.4
