setuptools>=39.0.1
brent-search>=1.0.32
cachetools>=2.0.1
liknorm>=1.0.13
ndarray-listener>=1.1.1
numpy-sugar>=1.2.3
numpy>=1.14.0
optimix>=1.2.23
pandas>=0.22.0
pypandoc>=1.4
pytest-pep8>=1.0.6
pytest-runner>=3.0
pytest>=3.3.2
scipy-sugar>=1.0.6
scipy>=1.0.0
sphinx_rtd_theme>=0.2.4
sphinx>=1.6.6
toolz>=0.9.0
tqdm>=4.19.4
